Id cargando todos los ficheros en vuestro jupyter.

In [14]:
import pandas as pd
import os

In [23]:
archivo_csv = pd.read_csv("DATOS/quejas.csv", encoding = "latin-1", sep = ";")
archivo_csv

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
2,Queja,Recepcionada por Unidad,INTERNET,2022-03-23 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
3,Queja,Recepcionada por Unidad,INTERNET,2022-01-24 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
4,Queja,Recepcionada por Unidad,INTERNET,2022-03-29 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
...,...,...,...,...,...,...,...,...,...
4494,Sugerencia,Cancelada,INTERNET,2022-01-02 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",NaN,OTROS,OTROS
4495,Sugerencia,Rechazada por SGAC,INTERNET,2022-03-08 00:00:00,NaN,NaN,NaN,OTROS,Sin valor
4496,Queja,Rechazada por SGAC,INTERNET,2022-01-24 00:00:00,NaN,NaN,NaN,OTROS,Sin valor
4497,Queja,Rechazada por SGAC,INTERNET,2022-01-21 00:00:00,NaN,NaN,NaN,OTROS,Sin valor
4498,Queja,Rechazada por SGAC,INTERNET,2022-01-21 00:00:00,NaN,NaN,NaN,OTROS,Sin valor

In [19]:
archivo_json = pd.read_json("DATOS/quejas.json")
archivo_json

                                                   data
0     {'unidad_descripcion': 'D.G. de Descarbonizaci...
1     {'unidad_descripcion': 'D.G. de Descarbonizaci...
2     {'unidad_descripcion': 'D.G. de Descarbonizaci...
3     {'unidad_descripcion': 'D.G. de Descarbonizaci...
4     {'unidad_descripcion': 'D.G. de Descarbonizaci...
...                                                 ...
4442  {'unidad_descripcion': '', 'tipo': 'Sugerencia...
4443  {'unidad_descripcion': '', 'tipo': 'Sugerencia...
4444  {'unidad_descripcion': '', 'tipo': 'Queja', 'e...
4445  {'unidad_descripcion': '', 'tipo': 'Queja', 'e...
4446  {'unidad_descripcion': '', 'tipo': 'Queja', 'e...

[4447 rows x 1 columns]

In [20]:
archivo_xlsx = pd.read_excel("DATOS/quejas2.xlsx")
archivo_xlsx

          DESCRIPCION_TEMA                                DESCRIPCION_SUBTEMA
0    ATENCIÓN AL CIUDADANO                         ADMINISTRACIÓN ELECTRÓNICA
1    ATENCIÓN AL CIUDADANO                                    FUNCIÓN PÚBLICA
2    ATENCIÓN AL CIUDADANO  OFICINAS DE ATENCIÓN AL CIUDADANO DE LA COMUNI...
3    ATENCIÓN AL CIUDADANO     OFICINAS DE REGISTRO DE LA COMUNIDAD DE MADRID
4    ATENCIÓN AL CIUDADANO                                              OTROS
..                     ...                                                ...
179               VIVIENDA                                       PLAN ALQUILA
180               VIVIENDA                             PLAN DE VIVIENDA JOVEN
181               VIVIENDA                                 PORTAL DE VIVIENDA
182               VIVIENDA                   PUNTOS DE INFORMACIÓN Y REGISTRO
183               VIVIENDA                                VIVIENDAS DEL IVIMA

[184 rows x 2 columns]

In [25]:
archivo_pickle = pd.read_pickle("DATOS/algas.pickle")
archivo_pickle

,Unnamed: 0,lon,lat,locality,year,month,kingdom,class,family,genus,species,new,state,country,fecha,day,number_ind
0,22,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,4
1,23,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,3
2,24,-70.7167,43.0750,New Castle,1900,5.0,Plantae,Florideophyceae,Palmariaceae,Palmaria,Palmaria palmata,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,9
3,33,-158.1170,21.5833,Haleiwa,1900,6.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca,"21.5833,-158.117",Hawaii,United States,1900-06-01,1,7
4,35,-7.0000,62.1800,Hvalvík,1900,6.0,Chromista,Phaeophyceae,Alariaceae,Alaria,Alaria esculenta,"62.18,-7.0",Streymoyar sýsla,Føroyar,1900-06-01,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6691,27748,-125.1548,48.8266,Bamfield,2020,2.0,Chromista,Phaeophyceae,Sargassaceae,Sargassum,Sargassum muticum,"48.8266,-125.1548",British Columbia,Canada,2020-02-01,1,10
6692,27752,-125.1549,48.8264,Bamfield,2020,2.0,Chromista,Phaeophyceae,Sargassaceae,Sargassum,Sargassum muticum,"48.8264,-125.1549",British Columbia,Canada,2020-02-01,1,3
6693,27759,-125.1550,48.8264,Bamfield,2020,2.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca,"48.8264,-125.155",British Columbia,Canada,2020-02-01,1,5
6694,27776,-125.1549,48.8264,Bamfield,2020,2.0,Chromista,Phaeophyceae,Sargassaceae,Sargassum,Sargassum muticum,"48.8264,-125.1549",British Columbia,Canada,2020-02-01,1,10
6695,27781,-125.1542,48.8269,Bamfield,2020,2.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca,"48.8269,-125.1542",British Columbia,Canada,2020-02-01,1,6

In [37]:
archivo_pepinillo = pd.read_clipboard(sep = "\t")
archivo_pepinillo

                                                      Macronutrientes
Hidratos de carbono    Grasas monoinsaturadas  Grasas poliinsaturadas
4,50 g                 0 g                                        0 g
Proteína (Ver ranking) Proteína Animal               Proteína vegetal
1,70 g                 0 g                                     1,70 g
Fibra (Ver ranking)    Agua                                   Omega 3
1,20 g                 92,60 g                                    0 g
Omega 6
0,0590 g               NaN                                        NaN

In [39]:
archivo_pepinillo.to_json("DATOS/pepinillos.json")
archivo_pepinillo.to_excel("DATOS/pepinillos.xlsx")
archivo_pepinillo.to_pickle("DATOS/pepinillos.pickle")
archivo_pepinillo.to_csv("DATOS/pepinillos.csv")

In [36]:
archivo_pepinillo_2 = pd.read_clipboard(sep = "\t")
archivo_pepinillo_2

                        Celiacos  X  Unnamed: 2
0   Alérgicos a los frutos secos  X         NaN
1           Alérgicos al marisco  X         NaN
2           Alérgicos al pescado  X         NaN
3             Alérgicos al huevo  X         NaN
4      Intolerantes a la lactosa  X         NaN
5        Diabéticos con insulina  X         NaN
6        Diabéticos sin insulina  X         NaN
7                    Embarazadas  X         NaN
8                          Niños  X         NaN
9                   Vegetarianos  X         NaN
10                       Veganos  X         NaN
11                        Judíos  X         NaN
12                    Musulmanes  X         NaN
13                    Hinduístas  X         NaN

In [49]:
archivo_panda = pd.read_clipboard(sep = ":")
archivo_panda

                    Body length                     120–180cm (47–71")
0               Shoulder height                       54–81cm (21–32")
1                    Hip height                       52–77cm (20–30")
2                   Chest girth                      70–106cm (28–42")
3               Hind leg length                         12–20cm (5–8")
4                   Tail length                         10–20cm (4–8")
5       Wild giant panda weight                 60–110 kg (132–243 lb)
6    Captive giant panda weight                 80–150 kg (176–330 lb)
7   Life expectancy in the wild                               20 years
8  Life expectancy in captivity   30+ years (oldest recorded 36 years)

In [50]:
import numpy as np

In [61]:
archivo_panda.reset_index(drop=True)

                    Body length                     120–180cm (47–71")
0               Shoulder height                       54–81cm (21–32")
1                    Hip height                       52–77cm (20–30")
2                   Chest girth                      70–106cm (28–42")
3               Hind leg length                         12–20cm (5–8")
4                   Tail length                         10–20cm (4–8")
5       Wild giant panda weight                 60–110 kg (132–243 lb)
6    Captive giant panda weight                 80–150 kg (176–330 lb)
7   Life expectancy in the wild                               20 years
8  Life expectancy in captivity   30+ years (oldest recorded 36 years)

In [51]:
archivo_panda.to_pickle("DATOS/panda.pickle")

In [53]:
archivo_panda_cambiado = np.swapaxes(archivo_panda,1,0)
archivo_panda_cambiado

,0,1,2,3,4,5,6,7,8
Body length,Shoulder height,Hip height,Chest girth,Hind leg length,Tail length,Wild giant panda weight,Captive giant panda weight,Life expectancy in the wild,Life expectancy in captivity
"120–180cm (47–71"")","54–81cm (21–32"")","52–77cm (20–30"")","70–106cm (28–42"")","12–20cm (5–8"")","10–20cm (4–8"")",60–110 kg (132–243 lb),80–150 kg (176–330 lb),20 years,30+ years (oldest recorded 36 years)

In [56]:
archivo_panda_cambiado.shape

(2, 9)

Nos parece interesante revisar este ejercisio por esto lo hemos ampliado.